ul
{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content:space-around;
}

.navigation li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    top: 11px;
    right: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo
{
    position: relative;
    top: -9px;
    
}
.navigation
{
    margin: 0%;
}
body
{
    margin: 0%;
}

.picture_container
{
    display: flex;
    justify-content: space-evenly;
}
.picture_container img
{
    padding: 30px;
    justify-items: right;
    margin: 3%;
}
h1
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cart
{
    position: relative;
    left: 10px;
    top: 20px;
}

.flex-container
{
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
    width: 100%;
}
.flex-container > div
{
    width: 100%;
    height: 200px;
    background-color: #957DAD;
    text-align: center;
    color: blanchedalmond;
    margin: 0%;
    
}
.flex-container a:link
{
    color: blanchedalmond;
    text-decoration: none;
}
.flex-container a:visited
{
    color: blanchedalmond;
    text-decoration: none;
}
@media screen and (max-width: 600px)
{
    .picture-container img{
        flex-direction: row;
    }
}
.flex-container p
{
    position: relative;
    bottom: -75px;
}
.header
{
    background-color: rgb(104, 197, 230);
    height: 50px; 
    position: relative;
    top: -20px;
}
.header p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: white;
    position: relative;
    top: 20px;
    text-align: center;
}
.grid_container
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;   
    width: auto; 
}
.productItem
{
    margin: 50px ;
    
}
.name
{
    position: relative;
    top: -8px;
}
.donations{
    background-image: url('Images/Donate.jpg');
    background-size:contain;
}
fieldset
{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    margin: auto;
    max-width: 450px;
    background-color: white;
}
legend
{
    font-size: 1.25em;
    padding: 0 .25em;
    color: #999;
    background-color: white;
}

label
{
    display: block;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 14px;
}

.checks label
{
    margin-top: 0;
}

input[type ="submit"]
{
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
}
input[type ="submit"]:hover
{
    background-color: navy;
    color: white;
}

.aboutus
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0 .25em;
    border: 3px solid #999;
}
.mission
{
    display: flex;
    justify-content:space-around;
    font-size: 1.25em;
    margin-right: 30px;
}
#missiontext
{
    margin-top: 100px;
    display: block;
    position: relative;
    left: -105px;
}
iframe{
    display: block;
    position: relative;
    left: -90px;
}
.cartdisp img
{
    width: 70px;

}
.cartdisp
{
    margin-left: 100px;

}
.displayItem
{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 12px;
}
.item
{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FEC8D8; 
}
.names
{
    width: 300px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FEC8D8; 
}
.prices
{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FEC8D8; 
}
.quantity
{
    width: 130px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FEC8D8; 
}
.total
{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FEC8D8; 
}
.cartlist
{
    display: flex;
    text-transform: capitalize;
}
.forImage
{
    width: 100px;
    margin: 10px;
}
.forName
{
    width: 300px;
    margin: 10px;
    margin-left: 30px;
}
.forPrice
{
    width: 100px;
    margin: 10px;
    margin-left: 25px;
}
.forQuantity
{
    width: 130px;
    margin: 10px;
    margin-left: 25px;
}
.forTotal
{
    width: 100px;
    margin: 10px;
}
.reoveItem button
{
    cursor: pointer;
    background-color:#70C6DC;
    width: 70px;
    height: 20px;
    color: #fff;
    margin-top: 30px;
}
.totalPriceCart
{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 400px;
    background-color: #D291BC;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.subtotal
{
    margin: 10px;
}
.priceView
{
    margin: 10px;
}
.btn button
{
    outline-style: none;
    background-color: plum;
    color: white;
    text-decoration: none;
    text-align: center;
    border: plum;
    font-weight: bold;
    font-size: 1em;
    border-radius: 15px;
    padding: 9px 15px;
    position: relative;
    left: 168px;
    top: -2px;
    cursor: pointer;
}
.btn button:active
{
    background-color: #8384df;
    color: white;
}
#donatebtn
{
    background-color: plum;
    border: 2px solid plum;
    color: white;
    
}

